@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans:wght@400;700&display=swap');

body {
    background-image: url(assets/home.jpg);
    background-color: white;
    background-position: center;
    // height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y: -140px;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: black;
}

main {
    padding: 2rem 1rem;
}

h2 {
    margin-top: 3rem;
}

h3 {
    padding: 2rem;
    font-size: 30px;
    text-align: center;
}

.btn {
    background-color: none;
}

.btn-active {
    font-weight: 900;
    // background-color: #78837f;
    &:active,
    &:focus,
    &:hover {
        background-color: none;
    }
}

.text-muted {
    margin-left: 25rem;
    position: fixed;
    bottom: 0;
    color: white;
}

.welcome { 
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}

input {
    display: block;
}